/ filters form:begin
.filters_form
  .select
    %p Značka:
    %div BACHMAN
    %span
  .text
    %p Název:
    %div Zásuvka
  .slider
    %p Cena:
    %span.from
    %div
    %span.before
    #price
      %i 0,-
      %b 67 000,-
  .select
    %p Kategorie:
    %div Zásuvkové kombinace
    %span
  .text
    %p Kod:
    %div Z59.310AA
/ filters form:end