%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', :'http-equiv' => 'Content-Type' }
  %body
    %h1 Order
    %ul
      %li= 'first_name: ' + @order.first_name if @order.first_name
      %li= 'email: ' +  @order.email      
    %pre= @order.body